* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__section {
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  height: 10vh;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  /* text-align: center; */

  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.underline {
  margin-top: 10px;
  width: 20rem;
  height: 0.25rem;
  background: rgb(255, 166, 0);
  margin-left: auto;
  margin-right: auto;
}
.categories {
  display: flex;
  width: 70vw;
  justify-content: space-around;
  /* align-items: center; */
  margin: 30px auto;
  /* border: 2px solid black; */
}

.category__button {
  background: white;
  color: rgb(248, 139, 14);
  /* height: 20px; */
  border: none;
  width: fit-content;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.3s ease-in;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
}
.category__button:hover {
  background: rgb(248, 139, 14);
  color: white;
}
.click-btn {
  border-bottom: 2px solid rgb(248, 139, 14);
}
.menu__container {
  width: 90vw;
  margin: 10px auto;
  max-width: 1170px;
  /* border: 2px solid blue; */
  /* min-height: 100vh; */
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.single__menu {
  /* border: 2px solid blue; */
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in;
}
.single__menu:hover {
  transform: scale(1.05, 1.05);
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  /* border: 2px solid blueviolet; */
  display: block;
}

.item__info header {
  display: flex;
  justify-content: space-between;
}
.dotted__underline {
  border-bottom: 3px dotted rgb(255, 166, 0);
}

.item__info h1 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.836);
}

.price {
  padding-right: 10px;
  /* border: 2px solid red; */
  color: rgba(0, 0, 0, 0.836);
}
.item__info p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
  .single__menu {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 255px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__container {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 200px;
  }
}
